
/*  desktop */
.bg {

position: relative;
width: 1920px;
height: 1080px;
background: #FFFFFF;
}

/*  main parameters for left side */
.left_side{
position: absolute;
width: 680px;
height: 1080px;
left: 0px;
top: 0px;
background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);

}
/*  main parameters for right side */
.right_side{
position: absolute;
width: 1240px;
height: 1080px;
left: 680px;
top: 0px;

}

/*  heading */
#header1 {
position: absolute;
width: 399px;
height: 44px;
left: 140px;
top: 374px;
font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 44px;
color: #131821;
}

/*  subheading */
#subheading{
position: absolute;
width: 400px;
height: 56px;
left: 140px;
top: 433px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #6A707B;
}

/*  inputbase */

.typehere{
position: absolute;
width: 227px;
height: 24px;
left: 4px;
top: 0px;
}

#arrow{
position: absolute;
width: 24px;
height: 14px;
left: 699px;
top: 567px;
opacity: 0.3;
}
#inputbase{
position: absolute;
width: 659px;
height: 70px;
left: 100px;
top: 539px;
padding: 23px 44px;
background: #FFFFFF;
border: 1px solid #E3E3E4;
box-sizing: border-box;
}
::placeholder{
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;

color: #6A707B;
}
/* vertical line on inputbase */
.vl{
position: absolute;
width: 4px;
height: 70px;
left: 100px;
top: 539px;
background: #4066A5;
}


/*  horizontal line */
.hl{
position: absolute;
width: 400px;
height: 1px;
left: 140px;
top: 740px;
background: #E3E3E4;
}

#pineappleLogo{
position: absolute;
left: 100px;
top: 100px;
border-radius: 0px;
}

#pineappleText{
font-family:  Arial;
font-style: normal;
font-weight: normal;
position: absolute;
left: 140px;
top: 120px;


}
#aboutText{
position: absolute;
height: 26px;
width: 42px;
left: 331px;
top: 114px;
border-radius: nullpx;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #6A707B;
}
#howitworksText{
position: absolute;
width: 91px;
height: 26px;
left: 403px;
top: 114px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #6A707B;
}
#contactText{
position: absolute;
width: 56px;
height: 26px;
left: 524px;
top: 114px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #6A707B;
}

/* settings for custom checkbox */
.box {
position: absolute;
width: 26px;
height: 26px;
left: 140px;
top: 663px;
background: #FFFFFF;
border: 1px solid #E3E3E4;
box-sizing: border-box;
border-radius: 3px;

}
/* Hide the default style of the checkbox */
input[type=checkbox] {
visibility: hidden;
}
/* custom checkbox */
.mark {
position: absolute;
top: 0;
left: 0;
height: 26px;
width: 26px;
background-color: #FFFFFF;
border: 1px solid #E3E3E4;
box-sizing: border-box;
border-radius: 3px;
}

/* background color for the checkbox when the checkbox is active */
.box input:active + .mark {
background-color: #4066A5;
}
/*background color for the checkbox when it is checked */
.box input:checked + .mark {
background-color: #4066A5;
}

.mark:after {
content: "";
position: absolute;
display: none;
}
/* display checkmark when checked */
.box input:checked + .mark:after {
display: block;
}

/* checkmark styling */
.box .mark:after {
left: 8px;
bottom: 5px;
width: 4px;
height: 12px;
border: solid #eee;
border-width: 0 2px 2px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}


/* I agree to terms of service text */
.tosText{
position: absolute;
height: 28px;
width: 359px;
left: 181px;
top: 662px;
border-radius: nullpx;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #6A707B;
}

/* fb base*/
.fb{
position: absolute;
width: 46px;
height: 46px;
left: 218px;
top: 791px;
border-radius: 50%;
border: 2px solid #E3E3E4;
box-sizing: border-box;
}
/* ig base*/
.ig{
position: absolute;
width: 46px;
height: 46px;
left: 284px;
top: 791px;
border-radius: 50%;
border: 2px solid #E3E3E4;
box-sizing: border-box;
}
/* yt base*/
.yt{
position: absolute;
width: 46px;
height: 46px;
left: 416px;
top: 791px;
border-radius: 50%;
border: 2px solid #E3E3E4;
box-sizing: border-box;
}
/* tw base*/
.tw{
position: absolute;
width: 46px;
height: 46px;
left: 350px;
top: 791px;
border-radius: 50%;
border: 2px solid #E2E3E4;
box-sizing: border-box;
}
/* fb icon placement*/
.fbicon {
position: absolute;
height: 16px;
width: 8px;
left: 237px;
top: 806px;
border-radius: 0px;

}
/* ig icon placement*/
.igicon {
position: absolute;
height: 16px;
width: 16px;
left: 299px;
top: 806px;
border-radius: 0px;
}
/* tw icon placement*/
.twicon {
position: absolute;
height: 13px;
width: 16px;
left: 365px;
top: 808px;
border-radius: 0px;
}
/* yt icon placement*/
.yticon {
position: absolute;
height: 11px;
width: 16px;
left: 431px;
top: 808px;
border-radius: 0px;
background-color: : #F2F5FA;
}

.yt:hover {
  background: #FF0000;
box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.tw:hover{
  background: #1DA1F2;
box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.ig:hover{
  background: #C13584;
box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.fb:hover{
  background: #4267B2;
box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.yt:active {
  background: #CC0000;
}

.tw:active {
  background: #177FBF;
}

.ig:active{
  background: #8F2762;
}

.fb:active{
  background: #2F4A80;
}

#pineappleText:hover path{
fill: #00BFFF;
}
#pineappleLogo:hover path{
fill: #00BFFF;
}

/* mobile and small devices view */
@media only screen and (max-width:600px){

.bg {
position: relative;
width: 375px;
height: 812px;
background: #FFFFFF;
}

#pineappleText{
display:none;
}
#pineappleLogo{
position: absolute;
width: 25px;
height: 40px;
left: 20px;
top: 10px;
border-radius: 0px;
}
#aboutText{
position: absolute;
width: 37px;
height: 24px;
left: 149px;
top: 21px;
border-radius: nullpx;
font-family:,Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #6A707B;
}
#howitworksText{
position: absolute;
width: 80px;
height: 24px;
left: 206px;
top: 21px;
font-family:,Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #6A707B;
}
#contactText{
position: absolute;
width: 49px;
height: 24px;
left: 306px;
top: 21px;
font-family:,Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #6A707B;
}
.left_side{
position: absolute;
width: 335px;
height: 371px;
left: 20px;
top: 254px;
background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
z-index: 1;
}
.right_side{
max-width: 100%
position: absolute;
width: 1119px;
height: 746px;
left: -281px;
top: 66px;

}
#header1 {
position: absolute;
width: 295px;
height: 34px;
left: 40px;
top: 284px;
font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 34px;
color: #131821;
z-index: 2;
}
#subheading{
position: absolute;
width: 295px;
height: 52px;
left: 40px;
top: 328px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 26px;
color: #6A707B;
z-index: 2;
}
#inputbase{
position: absolute;
width: 295px;
height: 60px;
left: 40px;
top: 400px;
padding: 19px 18px;
background: #FFFFFF;
border: 1px solid #E3E3E4;
box-sizing: border-box;
}
.typehere{
position: absolute;
width: 227px;
height: 24px;
left: 4px;
top: 0px;
z-index: 2;
}
.vl{
position: absolute;
width: 4px;
height: 60px;
left: 40px;
top: 400px;
background: #4066A5;
z-index:2;
}
::placeholder{
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #6A707B;

}
.hl{
position: absolute;
width: 295px;
height: 1px;
left: 40px;
top: 528px;
background: #E3E3E4;
z-index:2;
}
#arrow{
position: absolute;
width: 24px;
height: 14px;
left: 296px;
top: 423px;
z-index:1;
}

.container{
cursor: pointer;
z-index:2;
}
/* hide browsers default checkbox*/
#tosCheckmark{
left: 40px;
top: 481px;
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
z-index:2;
}
/* checkbox settings*/
.checkmark{
position:absolute;
width: 26px;
height: 26px;
left: 40px;
top: 481px;
background: #4066A5;
border-radius: 3px;
z-index:2;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}
/* Show the checkmark when checked */
.container #tosCheckmark:checked ~ .checkmark:after {
display: block;
z-index:2;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
position: absolute;
width: 6px;
height: 12px;
left: 8px;
top: 6px;
border: solid white;
border-width: 0 2px 2px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
z-index:2;
}

.tosText{
/* I agree to terms of service text */
position: absolute;
width: 254px;
height: 28px;
left: 81px;
top: 480px;
border-radius: nullpx;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #6A707B;
z-index:2;
}

/* fb base*/
.fb{
position: absolute;
width: 46px;
height: 46px;
left: 73px;
top: 549px;
border-radius: 50%;
border: 2px solid #E3E3E4;
box-sizing: border-box;
z-index:2;
}
/* ig base*/
.ig{
position: absolute;
width: 46px;
height: 46px;
left: 129px;
top: 549px;
border-radius: 50%;
border: 2px solid #E3E3E4;
box-sizing: border-box;
z-index:2;
}
/* yt base*/
.yt{
position: absolute;
width: 46px;
height: 46px;
left: 241px;
top: 549px;
border-radius: 50%;
border: 2px solid #E3E3E4;
box-sizing: border-box;
z-index:2;
}
/* tw base*/
.tw{
position: absolute;
width: 46px;
height: 46px;
left: 185px;
top: 549px;
border-radius: 50%;
border: 2px solid #E2E3E4;
box-sizing: border-box;
z-index:2;
}
/* fb icon placement*/
.fbicon {
position: absolute;
height: 16px;
width: 8px;
left: 92px;
top: 564px;
border-radius: 0px;
opacity: 0.4;
z-index:2;
}
/* ig icon placement*/
.igicon {
position: absolute;
height: 16px;
width: 16px;
left: 144px;
top: 564px;
border-radius: 0px;
opacity: 0.4;
z-index:2;
}
/* tw icon placement*/
.twicon {
position: absolute;
height: 13px;
width: 16px;
left: 200px;
top: 566px;
border-radius: 0px;
opacity: 0.4;
z-index:2;
}
/* yt icon placement*/
.yticon {
position: absolute;
height: 11px;
width: 16px;
left: 256px;
top: 566px;
border-radius: 0px;
opacity: 0.4;
z-index:2;
}
}
